In [29]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
file_name = 'HT_Cas9_train.csv'
df = pd.read_csv(file_name)

In [4]:
df.columns

Index(['Barcode', 'Target context sequence', 'Total read count (Day 0)',
       'Indel read count\n(Day 0)', 'Background\nindel frequencies (%)',
       'Total read count\n(Day 2.9)', 'Indel read count\n(Day 2.9)',
       'Indel frequencies (%)', 'Background subtracted indel'],
      dtype='object')

In [5]:
#%%timeit
df2 = pd.read_csv(file_name, nrows=1)
df2_column = df2.columns
print(list(df2_column))

['Barcode', 'Target context sequence', 'Total read count (Day 0)', 'Indel read count\n(Day 0)', 'Background\nindel frequencies (%)', 'Total read count\n(Day 2.9)', 'Indel read count\n(Day 2.9)', 'Indel frequencies (%)', 'Background subtracted indel']

In [7]:
#%%timeit
df3 = pd.read_csv(file_name)
#df3

In [8]:
df['Background subtracted indel']

0        24.287805
1        69.500438
2        25.994760
3        57.964590
4        39.355020
           ...
12827    40.853256
12828    11.480880
12829    63.861469
12830    51.650932
12831    40.019124
Name: Background subtracted indel, Length: 12832, dtype: float64

In [9]:
df['Target context sequence']

0        TTCTGCCTTGTTTCTTTCCTCTCTGGGTCG
1        ACGACCTTCAGCTCAGTGACAGTGAGGACA
2        AGGACGACGACTACAATAAGCCTCTGGATC
3        GCAGCAAACTGACGGAGAACCTTGTGGCCC
4        CCGGCAGATATCCGTGAAGGCTCTAGGTAC
                      ...
12827    GGGAATACGACGACCAGAGAGCGCTGGAGA
12828    TCATGGATTTCCTGGCTCGGGGACTGGTCT
12829    GCCTTGTTTCTTTCCTCTCTGGGTCGGATT
12830    TCGCACCTGATAGAGCATGTGACAAGGAGA
12831    CCCTCTGCGCATGGTCTTCCGGGGTGGCTC
Name: Target context sequence, Length: 12832, dtype: object

In [10]:
df

,Barcode,Target context sequence,Total read count (Day 0),Indel read count\n(Day 0),Background\nindel frequencies (%),Total read count\n(Day 2.9),Indel read count\n(Day 2.9),Indel frequencies (%),Background subtracted indel
0,TTTGACACACACGCACTAG,TTCTGCCTTGTTTCTTTCCTCTCTGGGTCG,2673,2,0.074822,9801,2386,24.344455,24.287805
1,TTTGACACACACTCGTATG,ACGACCTTCAGCTCAGTGACAGTGAGGACA,458,0,0.000000,1141,793,69.500438,69.500438
2,TTTGACACACACTCTCGTC,AGGACGACGACTACAATAAGCCTCTGGATC,3422,2,0.058445,12259,3192,26.038013,25.994760
3,TTTGACACACACTCTGCTG,GCAGCAAACTGACGGAGAACCTTGTGGCCC,1595,2,0.125392,4509,2616,58.017299,57.964590
4,TTTGACACACACTGCATAT,CCGGCAGATATCCGTGAAGGCTCTAGGTAC,2770,2,0.072202,8716,3434,39.398807,39.355020
...,...,...,...,...,...,...,...,...,...
12827,TTTGTGTGTCTCGTATCAC,GGGAATACGACGACCAGAGAGCGCTGGAGA,2361,0,0.000000,7571,3093,40.853256,40.853256
12828,TTTGTGTGTCTCTACACGC,TCATGGATTTCCTGGCTCGGGGACTGGTCT,3748,2,0.053362,15241,1757,11.528115,11.480880
12829,TTTGTGTGTCTCTCACGTA,GCCTTGTTTCTTTCCTCTCTGGGTCGGATT,2505,3,0.119760,7181,4589,63.904749,63.861469
12830,TTTGTGTGTCTCTCTAGTC,TCGCACCTGATAGAGCATGTGACAAGGAGA,3175,1,0.031496,9873,5101,51.666160,51.650932
12831,TTTGTGTGTCTCTCTCAGA,CCCTCTGCGCATGGTCTTCCGGGGTGGCTC,4879,9,0.184464,16337,6556,40.129767,40.019124

In [11]:
selected_df = pd.read_csv(file_name, usecols=['Background subtracted indel','Background subtracted indel','Target context sequence', 'Target context sequence'])

In [12]:
selected_df

              Target context sequence  Background subtracted indel
0      TTCTGCCTTGTTTCTTTCCTCTCTGGGTCG                    24.287805
1      ACGACCTTCAGCTCAGTGACAGTGAGGACA                    69.500438
2      AGGACGACGACTACAATAAGCCTCTGGATC                    25.994760
3      GCAGCAAACTGACGGAGAACCTTGTGGCCC                    57.964590
4      CCGGCAGATATCCGTGAAGGCTCTAGGTAC                    39.355020
...                               ...                          ...
12827  GGGAATACGACGACCAGAGAGCGCTGGAGA                    40.853256
12828  TCATGGATTTCCTGGCTCGGGGACTGGTCT                    11.480880
12829  GCCTTGTTTCTTTCCTCTCTGGGTCGGATT                    63.861469
12830  TCGCACCTGATAGAGCATGTGACAAGGAGA                    51.650932
12831  CCCTCTGCGCATGGTCTTCCGGGGTGGCTC                    40.019124

[12832 rows x 2 columns]

In [13]:
#%%timeit
indel = np.array(selected_df['Background subtracted indel'])

In [14]:
#%%timeit
indel.max()

95.10357122

In [15]:
#%%timeit
any(indel > 1.1)

True

In [16]:
any(indel > 1.1)

True

In [17]:
test_list = [0,1,2,3,4,-0.5,-1]

In [18]:
list(map(lambda x: 0 if x < 0 else x, test_list))

[0, 1, 2, 3, 4, 0, 0]

In [19]:
def indel_change(indel_list):
    indel_list = np.array(indel_list)
    if indel_list.max() > 1.0:
        new_indel_list = list(map(lambda x: x/100, indel_list))
    else:
        new_indel_list = indel_list
    new_indel_list = list(map(lambda x: 0 if x < 0 else x, new_indel_list))
    return np.array(new_indel_list)

In [20]:
new_indel = indel_change(indel)

In [21]:
np.zeros(3)

array([0., 0., 0.])

In [22]:
[0]*3

[0, 0, 0]

In [23]:
#%%timeit
num_indel_class = 11
indel_class_one_hot_encoder = {}
for i in range(num_indel_class):
    rate = i /10
    initial_list = [0] * num_indel_class
    initial_list[i] = 1
    indel_class_one_hot_encoder[rate] = initial_list

In [24]:
indel_class_one_hot_encoder

{0.0: [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 0.1: [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 0.2: [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
 0.3: [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
 0.4: [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
 0.5: [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
 0.6: [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
 0.7: [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
 0.8: [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
 0.9: [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
 1.0: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]}

In [25]:
indel_class_one_hot_encoder[0.0]

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [26]:
round(0.0001,1)

0.0

In [27]:
indel_class_one_hot_encoder[round(0.0001,1)]

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [28]:
from data_import_preprocessing import import_data_preprocessing

In [29]:
train_data_csv = 'HT_Cas9_train.csv'
test_data_csv = 'HT_Cas9_test.csv'
data_preprocess = import_data_preprocessing(train_data_file_name=train_data_csv,
                                           test_data_file_name=test_data_csv)

In [32]:
data_preprocess.train_data_file_sample_column

['Barcode',
 'Target context sequence',
 'Total read count (Day 0)',
 'Indel read count\n(Day 0)',
 'Background\nindel frequencies (%)',
 'Total read count\n(Day 2.9)',
 'Indel read count\n(Day 2.9)',
 'Indel frequencies (%)',
 'Background subtracted indel']

In [24]:
data_preprocess.Read_csv_file(file_path = train_data_csv, sgRNA_column='Target context sequence',
                             indel_column='Background subtracted indel')

NameError: name 'data_preprocess' is not defined

In [25]:
tmp = ['Barcode', 'Target context sequence', 'Total read count (Day 0)',
       'Indel read count\n(Day 0)', 'Background\nindel frequencies (%)',
       'Total read count\n(Day 2.9)', 'Indel read count\n(Day 2.9)',
       'Indel frequencies (%)', 'Background subtracted indel']

In [19]:

tmp2 = tmp + [None]
#%timeit list(filter(None, tmp2))

282 ns ± 2.16 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [21]:
#%timeit [i for i in tmp2 if i]

334 ns ± 3.99 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [30]:
test_list1 = np.array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       [0, 1, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 1, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 0]])
test_list2 = np.array([[1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 1],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 1, 0, 0]])

In [45]:
#%%timeit
add_seq = np.add(test_list1, test_list2)
add_seq

array([[2, 0, 0, 0],
       [0, 1, 1, 0],
       [0, 0, 2, 0],
       [2, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 1, 1, 0],
       [1, 0, 0, 1],
       [0, 1, 0, 1],
       [0, 1, 1, 0],
       [2, 0, 0, 0],
       [0, 1, 1, 0],
       [0, 1, 0, 1],
       [1, 0, 0, 1],
       [0, 2, 0, 0],
       [2, 0, 0, 0],
       [1, 0, 1, 0],
       [0, 0, 0, 2],
       [1, 0, 1, 0],
       [2, 0, 0, 0],
       [0, 1, 1, 0],
       [1, 1, 0, 0],
       [0, 1, 1, 0],
       [0, 0, 0, 2],
       [0, 1, 1, 0],
       [1, 0, 0, 1],
       [0, 0, 2, 0],
       [0, 0, 2, 0],
       [2, 0, 0, 0],
       [0, 1, 0, 1],
       [1, 1, 0, 0]])

In [77]:
#%%timeit
xor_seq = np.bitwise_xor(test_list1,test_list2)
mismatch_position_tmp2 = list(map(lambda x: sum(x)//2 , xor_seq))

44 µs ± 31.3 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [79]:
mismatch_position_tmp2

[0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1]

In [117]:
def mismatch_position_N_number(sgRNA, targetDNA):
    xor_seq = np.bitwise_xor(sgRNA, targetDNA)
    mismatch_position = list(map(lambda x: sum(x)//2 , xor_seq))
    mismatch_number = sum(mismatch_position)
    return mismatch_position, mismatch_number

In [118]:
seq1_list = np.array([test_list1 for i in range(100000)])
seq2_list = np.array([test_list2 for i in range(100000)])

In [121]:

mismatch = list(map(mismatch_position_N_number,seq1_list, seq2_list))
mismatch_position = list(map(lambda x: x[0], mismatch))
mismatch_number = list(map(lambda x: x[1], mismatch))

4.61 s ± 18.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
7.05 ms ± 48.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
9.89 ms ± 22.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [98]:
mismatch[0]

([0,
  1,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  0,
  1,
  1,
  1,
  0,
  0,
  1,
  0,
  1,
  0,
  1,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  0,
  1,
  1],
 17)

In [101]:
mismatch_position[0]

[0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1]

In [102]:
mismatch_number[0]

17